@import url(colors_fonts.css);

:root {
  --card-width: min(80vw, 66ch);
  --cardText-width: calc(0.85*var(--card-width));
  --cardImgWrapper-width: calc(var(--card-width) - var(--cardText-width));
  --cardImg-width: calc(0.35*var(--card-width));
  /* --cardImg-position: calc((var(--cardImg-width)/3) - (var(--cardImgWrapper-width)/2)); */
  --cardImg-position: calc((var(--cardImg-width)/2) - (var(--cardImgWrapper-width)/2));
  --card-gap: 1.5rem;

  /* For displays > 425px. 
  For smaller displays there is a media query. */
  --font-size-default: 1rem;
  --textblock-width: 45ch;
}

html {
  /* Vermutung, aber nicht mehr sicher, ob das wirklich sein muss:
     Die allgemein zugrundeliegende font-size muss auf 1rem gesetzt werden,
     damit die anderen berechnenden font-sizes auf dem richtigen Wert basieren.*/
  font-size: var(--font-size-default);
}

* {
  font-family: var(--font-fancy);
  box-sizing: border-box;
  /* prevent browser defaults from adding margin or padding*/
  margin: 0;
  padding: 0;

  /* font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem); */
}

h1 {
  font-size: var(--h1-font-size);
}

h2, a {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  font-size: var(--p-font-size);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: var(--card-gap);
  /* Unten kein Padding, weil jede recipe-list noch ein padding-bottom hat */
  padding-bottom: 0;
  background-color: var(--color-surface);
}

.recipe-list {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-around;
  gap: var(--card-gap);
  padding-bottom: var(--card-gap);

  opacity: 1;
  transform: translateX(0);
  transition: transform 0.4s ease, opacity 0.4s ease;
}
 
.recipe-list.is-leaving {
  opacity: 0;
  transform: translateX(100%);
}

.recipe-list.is-entering {
  opacity: 1;
  transform: translateX(-100%);
}


.card {
  display: flex;
  align-items: center;
  width: var(--card-width);
}

.cardText {
  display: flex;
  align-items: center;
  align-self: stretch;
  width: var(--cardText-width);
  padding-right: calc(var(--cardImg-width)/2 - var(--cardImgWrapper-width)/2 + var(--cardImg-position));
  /* ^ gleiche wie padding-right: calc(2*var(--cardImg-position)) */
  padding-left: 5%;
  border-radius: 1rem;
  background-color: var(--color-surface-container);
  color: var(--color-on-surface);
  /* background: #FCF8EE;
  background: linear-gradient(0deg,#FFF3D1 0%, #FCF8EE 100%); */
  /* filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.5)); */
  border: 1px solid var(--color-outline-variant);
}

a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
}

/* Benötigt für drop-shadow und damit Bild unabhängige Größe bekommen kann
 (würde sonst mit der Flexbox skalieren und das andere Element verkleinern) */
.cardImgWrapper {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--cardImgWrapper-width);
  filter: drop-shadow(4px 4px 0.3rem rgba(0, 0, 0, 0.5));
}

.cardImgWrapper img {
  width: var(--cardImg-width);
  aspect-ratio: 1;
  object-fit: cover;
  clip-path: circle(farthest-side at center);
  position: relative;
  right: var(--cardImg-position);
  pointer-events: none;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em 1.5em;
  background-color: var(--color-surface-variant);
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-outline-variant);
  position: sticky;
  top: 0px;
  z-index: 1;
}

.header a{
  font-weight: bold;
  text-align: center;
  font-size: calc(var(--h2-font-size)*0.75);
}

.header img{
  height: calc(var(--h1-font-size)*1.2);
  width: auto;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
  background-color: var(--color-surface-variant);
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-outline-variant);
}

.search-bar {
  position: sticky;
  bottom: 0px;
  background-color: var(--color-surface-variant);
  border-top: 1px solid var(--color-outline-variant);
  padding: 0.5rem 0.5rem;

  display: none;

  /* Verschiebt searchbar um 100% nach unten. */
  transform: translateY(100%);
  transition: transform 0.3s ease, display 0.3s allow-discrete;
}

.search-bar.open {
  display:flex;
  transform: translateY(0);
}

/* Damit der Browser weiß, wo sich das Element vor der 
Transformation auf .search-bar.open befindet, weil es vorher "display: none" war. */
@starting-style {
  .search-bar.open {
    transform: translateY(100%);
  }
}

.search-bar #searchInput{
  flex: 1;

  border-radius: 0.25rem;
  border: none;
}

.search-bar #searchCloseBtn{
  all: unset;
  cursor: pointer;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;

  /* padding: 0.5em; */
  /* background-color: var(--color-surface-variant);
  color: var(--color-primary);
  border-top: 1px solid var(--color-outline-variant); */
  /* border-radius: 0.5rem 0.5rem 0 0; */
  position: sticky;
  bottom: 0px;
  z-index: 1;
}

.bottom-bar button{
  all: unset;
  cursor: pointer;
  flex: 1;
  display: flex;
  justify-content: center;

  padding: 0.5em;
  background-color: var(--color-surface-variant);
  color: var(--color-primary);
  border-top: 1px solid var(--color-outline-variant);

  /* &#meals {
    border-radius: 1rem 0 0 0;
  }

  &#sauces {
    border-radius: 0 0.5rem 0 0;
  } */

}

.bottom-bar button#search{
  flex: 0.4;
  /* border-radius: 0.5rem 1rem 0 0;
  margin-left: 0.1rem; */

  & .bottomBarWrapper img{
    height: calc(var(--h1-font-size)*0.6*0.8);
  }

  & .bottomBarWrapper.active{
    border: 0px;
  }

}

.bottomBarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  filter: saturate(0%);
  opacity: 60%;
  padding: 0 0.5em;

  &.active {
    border-left: 1px solid var(--color-primary);
    border-right: 1px solid var(--color-primary);
    filter: saturate(100%);
    opacity: 100%;
  }

}

.bottomBarWrapper img{
  height: calc(var(--h1-font-size)*0.6);
  width: auto;
}

.bottomBarWrapper p {
  font-weight: bold;
}

/* Smaller text <a> for smaller portrait mobile devices*/
@media only screen and (max-width: 425px) {

  h1 {
  font-size: var(--h2-font-size);
  }

  a {
    font-size: var(--h4-font-size);
  }  

  .header a{
    font-size: var(--h6-font-size);
  }

}