@import url(colors_fonts.css);

:root {
  --card-width: min(80vw, 66ch);
  --cardText-width: calc(0.85*var(--card-width));
  --cardImgWrapper-width: calc(var(--card-width) - var(--cardText-width));
  --cardImg-width: calc(0.35*var(--card-width));
  /* --cardImg-position: calc((var(--cardImg-width)/3) - (var(--cardImgWrapper-width)/2)); */
  --cardImg-position: calc((var(--cardImg-width)/2) - (var(--cardImgWrapper-width)/2));
  --card-gap: 1.5rem;

  /* For displays > 425px. 
  For smaller displays there is a media query. */
  --font-size-default: 1rem;
  --textblock-width: 45ch;

  font-family: var(--font-fancy);
}

html {
  /* Vermutung, aber nicht mehr sicher, ob das wirklich sein muss:
     Die allgemein zugrundeliegende font-size muss auf 1rem gesetzt werden,
     damit die anderen berechnenden font-sizes auf dem richtigen Wert basieren.*/
  font-size: var(--font-size-default);
}

* {
  font-family: inherit;
  box-sizing: border-box;
  /* prevent browser defaults from adding margin or padding*/
  margin: 0;
  padding: 0;

  /* font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem); */
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p, a {
  font-size: var(--p-font-size);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: var(--card-gap);
  background-color: var(--color-surface);
}

#idea-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: var(--card-gap);
}

.card {
  display: flex;
  flex-direction: column;
  width: var(--card-width);
}

.card h3 {
  color: var(--color-tertiary);
  border-bottom: 4px solid var(--color-tertiary);
}

.cardText {
  display: flex;
  flex-direction: column;
  color: var(--color-on-surface);
  padding-top: 0.5em;
  font-family: var(--font-normal);
  line-height: 1.5;
}

.cardText a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em 1.5em;
  background-color: var(--color-surface-variant);
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-outline-variant);
  position: sticky;
  top: 0px;
  z-index: 1;
}

.header a{
  font-weight: bold;
  text-align: center;
  font-size: calc(var(--h2-font-size)*0.75);
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: none;
}

.header img{
  height: calc(var(--h1-font-size)*1.2);
  width: auto;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
  background-color: var(--color-surface-variant);
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-outline-variant);
}

/* Smaller text <a> for smaller portrait mobile devices*/
@media only screen and (max-width: 425px) {

  h1 {
  font-size: var(--h2-font-size);
  }

  .header a{
    font-size: var(--h6-font-size);
  }

}