@import url('https://fonts.googleapis.com/css?family=Cormorant Garamond');
@import url('https://fonts.googleapis.com/css?family=Inter');

:root {
  /* light theme colors from 
  https://material-foundation.github.io/material-theme-builder/ */
  --color-primary: rgb(27 107 81);
  --color-surface-tint: rgb(27 107 81);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(166 242 210);
  --color-on-primary-container: rgb(0 81 59);
  --color-secondary: rgb(76 99 89);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(206 233 219);
  --color-on-secondary-container: rgb(53 75 65);
  --color-tertiary: rgb(62 99 116);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(194 232 253);
  --color-on-tertiary-container: rgb(38 75 92);
  --color-error: rgb(186 26 26);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(255 218 214);
  --color-on-error-container: rgb(147 0 10);
  --color-background: rgb(245 251 245);
  --color-on-background: rgb(23 29 26);
  --color-surface: rgb(245 251 245);
  --color-on-surface: rgb(23 29 26);
  --color-surface-variant: rgb(219 229 222);
  --color-on-surface-variant: rgb(64 73 68);
  --color-outline: rgb(112 121 116);
  --color-outline-variant: rgb(191 201 194);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(44 50 46);
  --color-inverse-on-surface: rgb(236 242 237);
  --color-inverse-primary: rgb(138 214 182);
  --color-primary-fixed: rgb(166 242 210);
  --color-on-primary-fixed: rgb(0 33 22);
  --color-primary-fixed-dim: rgb(138 214 182);
  --color-on-primary-fixed-variant: rgb(0 81 59);
  --color-secondary-fixed: rgb(206 233 219);
  --color-on-secondary-fixed: rgb(9 32 23);
  --color-secondary-fixed-dim: rgb(179 204 191);
  --color-on-secondary-fixed-variant: rgb(53 75 65);
  --color-tertiary-fixed: rgb(194 232 253);
  --color-on-tertiary-fixed: rgb(0 31 42);
  --color-tertiary-fixed-dim: rgb(166 204 224);
  --color-on-tertiary-fixed-variant: rgb(38 75 92);
  --color-surface-dim: rgb(214 219 214);
  --color-surface-bright: rgb(245 251 245);
  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container-low: rgb(239 245 240);
  --color-surface-container: rgb(233 239 234);
  --color-surface-container-high: rgb(228 234 228);
  --color-surface-container-highest: rgb(222 228 223);

  --font-fancy: 'Cormorant Garamond', Georgia, serif;
  --font-normal: 'Inter', Verdana, sans-serif;  
  --font-size-default: 1rem;
  --textblock-width: 66ch;
}

html {
  font-size: var(--font-size-default);
}

* {
   box-sizing: border-box;
   /* prevent browser defaults from adding margin or padding*/
   margin: 0;
   padding: 0;
}

h1 {
  font-size: clamp(3rem, 2.7273rem + 1.0909vw, 3.6rem);
}

h2 {
  font-size: clamp(2.25rem, 2.0455rem + 0.8182vw, 2.7rem);
}

h3 {
  font-size: clamp(1.875rem, 1.7045rem + 0.6818vw, 2.25rem);
}

h4 {
  font-size: clamp(1.5rem, 1.3636rem + 0.5455vw, 1.8rem);
}

h5 {
  font-size: clamp(1.25rem, 1.1364rem + 0.4545vw, 1.5rem);
}

h6 {
  font-size: clamp(1.125rem, 1.0227rem + 0.4091vw, 1.35rem);
}

p, a, li, ul, ol, label{
  font-size: clamp(0.8333rem, 0.7576rem + 0.303vw, 1rem);
  font-family: var(--font-normal);
  color: var(--color-on-surface);
}

body {
  min-height: 100vh;
  width: min(80vw, var(--textblock-width));
  margin: 0 auto;
  background-color: var(--color-surface);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-fancy);
  text-align: center;
  padding: 8px 0px;
  color: var(--color-primary);
}

p, label{
  padding: 8px 0px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--color-tertiary)
}

ul, ol, li {
  list-style-position: inside;
  margin: 1em 0;
}

li, label {
  line-height: 1.5;
}

/* Set indentation (Einrückung) of nested list items, because the default is reset with zero padding at top of css file*/
li li{
  padding-left: 40px;
}

/*Keine Ahnung warum das hier drinnen ist.
-> löschen? 

  .recipe-list li{
  list-style-type: none;
  font-size: 1.5em;
  text-align: center;
  padding: 8px 0;
} */

img {
  /* border-radius: 1rem; */
  width: 100vw;
  height: 100%;
  max-height: min(100vw, 50vh);
  object-fit: cover;
  margin: 16px 0;
  /* margin von body ignorieren */
  margin-left: calc(-50vw + 50%);
}

.ingredient-list{
  display: flex;
  flex-direction: column;

}

.ingredient-checkbox {
  display: flex;
  gap: 1em;
  align-items: center;
}

input[type="checkbox"] {
  width: clamp(0.8333rem, 0.7576rem + 0.303vw, 1rem);
  height: clamp(0.8333rem, 0.7576rem + 0.303vw, 1rem);
  flex-shrink: 0;
}

input[type="checkbox"]:checked {
  accent-color: var(--color-primary);
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: var(--color-outline);
}

/* Bigger text for smaller portrait mobile devices*/
/* @media only screen and ((max-device-width: 425px) or (max-width: 425px)) {

  :root {
    --font-size-default: clamp(1rem, 0.75rem + 1.5vw, 2rem);
    --textblock-width: 45ch;
  }
} */

@media (prefers-color-scheme: dark) {
  :root {
    /* dark theme colors from
    https://material-foundation.github.io/material-theme-builder/ */
    --color-primary: rgb(138 214 182);
    --color-surface-tint: rgb(138 214 182);
    --color-on-primary: rgb(0 56 40);
    --color-primary-container: rgb(0 81 59);
    --color-on-primary-container: rgb(166 242 210);
    --color-secondary: rgb(179 204 191);
    --color-on-secondary: rgb(30 53 44);
    --color-secondary-container: rgb(53 75 65);
    --color-on-secondary-container: rgb(206 233 219);
    --color-tertiary: rgb(166 204 224);
    --color-on-tertiary: rgb(9 53 68);
    --color-tertiary-container: rgb(38 75 92);
    --color-on-tertiary-container: rgb(194 232 253);
    --color-error: rgb(255 180 171);
    --color-on-error: rgb(105 0 5);
    --color-error-container: rgb(147 0 10);
    --color-on-error-container: rgb(255 218 214);
    --color-background: rgb(15 21 18);
    --color-on-background: rgb(222 228 223);
    --color-surface: rgb(15 21 18);
    --color-on-surface: rgb(222 228 223);
    --color-surface-variant: rgb(64 73 68);
    --color-on-surface-variant: rgb(191 201 194);
    --color-outline: rgb(137 147 141);
    --color-outline-variant: rgb(64 73 68);
    --color-shadow: rgb(0 0 0);
    --color-scrim: rgb(0 0 0);
    --color-inverse-surface: rgb(222 228 223);
    --color-inverse-on-surface: rgb(44 50 46);
    --color-inverse-primary: rgb(27 107 81);
    --color-primary-fixed: rgb(166 242 210);
    --color-on-primary-fixed: rgb(0 33 22);
    --color-primary-fixed-dim: rgb(138 214 182);
    --color-on-primary-fixed-variant: rgb(0 81 59);
    --color-secondary-fixed: rgb(206 233 219);
    --color-on-secondary-fixed: rgb(9 32 23);
    --color-secondary-fixed-dim: rgb(179 204 191);
    --color-on-secondary-fixed-variant: rgb(53 75 65);
    --color-tertiary-fixed: rgb(194 232 253);
    --color-on-tertiary-fixed: rgb(0 31 42);
    --color-tertiary-fixed-dim: rgb(166 204 224);
    --color-on-tertiary-fixed-variant: rgb(38 75 92);
    --color-surface-dim: rgb(15 21 18);
    --color-surface-bright: rgb(52 59 55);
    --color-surface-container-lowest: rgb(10 15 13);
    --color-surface-container-low: rgb(23 29 26);
    --color-surface-container: rgb(27 33 30);
    --color-surface-container-high: rgb(37 43 40);
    --color-surface-container-highest: rgb(48 54 51);
  }
}