@import url(colors_fonts.css);

:root {
  --font-size-default: 1rem;
  --textblock-width: 66ch;
}

html {
  /* Vermutung, aber nicht mehr sicher, ob das wirklich sein muss:
     Die allgemein zugrundeliegende font-size muss auf 1rem gesetzt werden,
     damit die anderen berechnenden font-sizes auf dem richtigen Wert basieren.*/
  font-size: var(--font-size-default);
}

* {
   box-sizing: border-box;
   /* prevent browser defaults from adding margin or padding*/
   margin: 0;
   padding: 0;
}

h1 {
  font-size: clamp(3rem, 2.7273rem + 1.0909vw, 3.6rem);
}

h2 {
  font-size: clamp(2.25rem, 2.0455rem + 0.8182vw, 2.7rem);
}

h3 {
  font-size: clamp(1.875rem, 1.7045rem + 0.6818vw, 2.25rem);
}

h4 {
  font-size: clamp(1.5rem, 1.3636rem + 0.5455vw, 1.8rem);
}

h5 {
  font-size: clamp(1.25rem, 1.1364rem + 0.4545vw, 1.5rem);
}

h6 {
  font-size: clamp(1.125rem, 1.0227rem + 0.4091vw, 1.35rem);
}

p, a, li, ul, ol, label{
  font-size: clamp(0.8333rem, 0.7576rem + 0.303vw, 1rem);
  font-family: var(--font-normal);
  color: var(--color-on-surface);
}

body {
  min-height: 100vh;
  width: min(80vw, var(--textblock-width));
  margin: 0 auto;
  background-color: var(--color-surface);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-fancy);
  text-align: center;
  padding: 8px 0px;
  color: var(--color-primary);
}

p, label{
  padding: 8px 0px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--color-tertiary)
}

ul, ol, li {
  list-style-position: inside;
  margin: 1em 0;
}

li, label {
  line-height: 1.5;
}

/* Set indentation (Einrückung) of nested list items, because the default is reset with zero padding at top of css file*/
li li{
  padding-left: 40px;
}

/*Keine Ahnung warum das hier drinnen ist.
-> löschen? 

  .recipe-list li{
  list-style-type: none;
  font-size: 1.5em;
  text-align: center;
  padding: 8px 0;
} */

img {
  /* border-radius: 1rem; */
  width: 100vw;
  height: 100%;
  max-height: min(100vw, 50vh);
  object-fit: cover;
  margin: 16px 0;
  /* margin von body ignorieren */
  margin-left: calc(-50vw + 50%);
}

.ingredient-list{
  display: flex;
  flex-direction: column;

}

.ingredient-checkbox {
  display: flex;
  gap: 1em;
  align-items: center;
}

input[type="checkbox"] {
  width: clamp(0.8333rem, 0.7576rem + 0.303vw, 1rem);
  height: clamp(0.8333rem, 0.7576rem + 0.303vw, 1rem);
  flex-shrink: 0;
}

input[type="checkbox"]:checked {
  accent-color: var(--color-primary);
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: var(--color-outline);
}

/* Bigger text for smaller portrait mobile devices*/
/* @media only screen and ((max-device-width: 425px) or (max-width: 425px)) {

  :root {
    --font-size-default: clamp(1rem, 0.75rem + 1.5vw, 2rem);
    --textblock-width: 45ch;
  }
} */