* {
   font-family: Georgia, Verdana, Arial, sans-serif;
   text-align: justify;
   box-sizing: border-box;
   /* prevent browser defaults from adding margin or padding*/
   margin: 0;
   padding: 0;
}

body {
  max-width: 650px;
  margin: 0 auto;  
}

ul, ol {
  list-style-position: inside;
  margin: 8px 0;
}

/* Set indentation (Einrückung) of nested list items, because the default is reset with zero padding at top of css file*/
li li{
  padding-left: 40px;
}

.recipe-list li{
  font-size: 1.5em;
  padding: 8px 0;
}

img {
  width: 100%;
  height: 100%;
  margin: 16px 0;
}

p {
  padding: 8px 0px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  padding: 8px 0px;
}

h1 {

  background-color: #00a01b;
  color: #ffffff

}